.nav {
  grid-area: n;
  background-color: #4d648d;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: #1e1f26;
}

@media (max-width: 550px) {
  .nav {
    display: flex;
    justify-content: space-around;
    gap: 5px;
  }
}