.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  min-height: 100vh;
}

.dialogsItems {
  padding: 10px;
}

a {
  color: #4d648d;
  text-decoration: none;
}

a.active {
  color: #1e1f26;
}

.messages {
  padding: 10px;
}
